.home{
    width: 100%;
    /* max-width: 1200px; */
    height: 92vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;

    animation-name: apear;
    animation-duration: 1s;
}

.home div{
    width: 40%;
    padding: 50px;
    /* display: flex;
    flex-wrap: wrap;
    align-content: space-between; */
    /* flex: 1; */
    
    box-sizing: border-box;
    /* overflow: hidden;  */
}

.home div p{
    margin-bottom: 40px;
    font-size: 2rem;
}

.home figure{
    width: 60%;
    height: 90vh;
    display: flex;
    justify-content: center;
}

.home figure img{
    width: 100%;
    min-height: 800px;
    height: 150vh;
    /* max-width: 1800px;  */
    /* overflow: hidden;  */
    box-sizing: border-box;
    /* margin-top: 500px;     */
    /* position: relative;
    top: 10px;
    right: -10px; */

    display: flex;
    justify-content: flex-end;
    text-align: right;
    
}

@media (max-width: 1024px) {
    .home{
        width: 100%;
        height: fit-content;
        /* max-height: 1027px; */
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;

        animation-name: apear;
        animation-duration: 1s;
    }

    .home div{
        width: 100%;
    }

    .home figure{
        width: 80%;
        height: 70vh;
        overflow: hidden;

    }

    .home figure img{
        width: 100%;
        min-height: 50vh;
        height: 80vh;
        max-height: 100vh;
        overflow: hidden;
        
    }
}

@media (max-width: 539px) {
    .home{
        width: 100%;
        height: fit-content;
        /* max-height: 1027px; */
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        overflow: hidden;

        animation-name: apear;
        animation-duration: 1s;
    }

    .home div{
        width: 100%;
    }

    .home figure{
        width: 90%;
        height: 50vh;
        overflow: hidden;

    }

    .home figure img{
        width: 100%;
        min-height: 50vh;
        height: 10vh;
        max-height: 100vh;
        overflow: hidden;
        
    }
}

@keyframes apear {
    from { 
        opacity: 0%;
        margin-left: 10px;
    }
    to { 
        opacity: 100%;
        margin-left: none;
    }
}