
.projects{
    /* width: 70%; */
    padding: 50px;
    /* margin: auto; */

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    animation-name: apear;
    animation-duration: 1s;
}

.projects h2{
    width: 70%;
    font-size: 50px;
    margin: 40px 0;
    color: #F5CB5C;
}

.projects div{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.projects div h3{
    margin-block: 10px;
    color: #F5CB5C;
}

.projects div p{
    margin-bottom: 20px;
}

.projects div figure{
    width: 100%;
}

.projects div figure img{
    width: 100%;
}

@media (max-width: 540px) {

    .projects div{
        width: 95%;
    }

    /* .projects{
        width: 100%;
        padding: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        animation-name: apear;
        animation-duration: 1s;
    }
    
    .projects div {
        width: 100%;
    }
    
    .projects div aside{
        width: 100%;
    }

    .projects div figure{
        width: 100%;
    }
    
    .projects div figure img{
        width: 100%;
    } */
}


@keyframes apear {
    from { 
        opacity: 0%;
        margin-left: 10px;
    }
    to { 
        opacity: 100%;
        margin-left: none;
    }
}

