*{
  box-sizing: border-box;
  color: #CFDBD5;
  background-color: none;
}

.App{
  height: fit-content;
  overflow: hidden; 
  display: flex;
  flex-wrap: wrap;
  background-color: #242423;
}

span{
  color: #F5CB5C;
}